.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border:none;
    border-radius: 4px;
    position: absolute;
    right: 0;
    margin-right: 30px;

}
.filters button:hover{
    opacity: 90%;
}

.locations{
    height: 100%;
    width: 25%;
    border-right: 1px solid  #DDDDDD;
   
}

.amenities{
    height: 100%;
    width: 25%;
    border-right: 1px solid  #DDDDDD;
}

.locations h3, .amenities h3{
    font-weight: 600;
}
.locations h4, .amenities h4{
    font-weight: 400;
    font-size: 14px;
}

