.places{
    text-align: center;
}
.places h1{
    font-size: 30px;  
    padding-top: 50px;
    text-align: left;
}

article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F ;
    display: inline-block;
    border-radius: 4px;
    position: relative;

}

article h2{
    font-size: 30px;
    text-align: center;
}
article .price_by_night{
color:  #FF5A5F;
border: 4px solid #FF5A5F;
border-radius: 50%;
width: 60px;
height: 60px;
font-size: 30px;
position: absolute;
right: 10px;
top: 10px;
display: flex;
justify-content: center;
align-items: center;
}
article .information{
   height: 80px;
   display: inline-block;
   
 
  
}
article .information_section{
    border-top:1px solid #DDDDDD ;
    border-bottom:1px solid #DDDDDD ;
    margin-top: 40px ;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    margin-bottom: 20px;
    
}
.user, .description {
    text-align: left;
    line-height: 1.5;
}
.description{
    margin-bottom: 40px;
}
.max_guest{
    width: 100px;
}
.number_rooms{
    width: 100px;
}
.number_bathrooms{
    width: 100px;
}
